* {margin:0; padding:0;}

.login {
    width:360px;
    margin:100px auto 0;
    padding:20px;
    border:1px solid #ddd;
    border-radius:5px;
    background-color:#fff;
    
}

.login-bg {
    height:100vh;
    background-color:#f8f8f8;
    overflow:hidden;
    
}